body{
    margin: 0;
    padding: 0;
    background: url(./images/fondos/fondo-madera5.jpg);
    background-size: 100%;

}

html{
    scroll-behavior: smooth;
}

/*DISEÑOS DEL MENU*/

.navbar{
    z-index: 1;
    width: 100%;
    background:url("./images/fondos/fondo-madera7.jpg");
    color: #fff !important;
    overflow: hidden;
    position: fixed;
    top: 0;
    box-shadow: 4px 4px 9px 4px rgba(29, 29, 29, 0.973);
}


.navbar a{
    text-align: center;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a:hover{
    background: whitesmoke;
    color: black !important;
}

hr{
    width: 95%;
}

 h1{
    display: block;
    text-align: center;
    width: 40%;
    height: 45px;
    line-height: 45px;
    background: url("./images/fondos/fondo-metal.jpg");
    color: white;
    box-shadow: 4px 4px 9px 4px rgba(29, 29, 29, 0.973);
    font-size: 30px;
    font-family: "BebasNeue";
    font-weight: normal;
    letter-spacing: 5px;
    padding-left: 15px;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 30%;
    text-transform: uppercase;

}

/*DISEÑOS SECTION INICIO*/
#section-home{
    height: 25%px;
    display: inline-block;
    width: 100%;
}

#section-home h2{
    text-align: center;
    text-transform: uppercase;
    font-family: "BebasNeue";
    font-size: 30px;
}

#section-home h3{
    font-family: "BebasNeue";
    text-align: center;
    font-size: 28px
}

#slider{
    margin: auto;
    height: 350px;
    width: 80%;
    overflow: hidden;
    background: black;
        box-shadow: 4px 4px 9px 4px rgba(29, 29, 29, 0.973);

}


#slider img{
    width: 800px;
    height: 400px;
}


/*DISEÑO SECTION NOSOTROS*/
#section-about{
    height: 25%px;
    display: inline-block;
    width: 100%;
}


.content-about{
    width: 80%;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}

/*USO DE PSEUDO ELEMENTO PARA DEGRADADO*/
.content-about:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
    box-shadow: 4px 4px 9px 4px rgba(29, 29, 29, 0.973);

}

.about-text{
    position: absolute;
    bottom: 20px;
    right: 10px;
    left: 10px;
    text-align: center;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;   
}

.about-img{
    width: 100%;
    height: 400px;
    display: block;
}


/*DISEÑO SECTION SERVICES*/
#section-services{
    height: 25%px;
    display: inline-block;
    width: 100%;
}

.card-deck{
    margin-bottom: 20px;
}


.cards .card-body{
    height: 65px;
    background: url("./images/fondos/fondo-madera3.jpg");
    color: #fff;
    text-align: center;
    box-shadow: 4px 4px 9px 4px rgba(29, 29, 29, 0.973);

}


.cards img{
    height: 200px;

}

.cards h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
letter-spacing: 1px;
}

/*CONTENEDOR EXTRA PARA CARDS*/
#services-aditional{
    background: url("./images/fondos/fondo-madera3.jpg");
    color: #fff;
    margin-top: 20px;
    box-shadow: 4px 4px 9px 4px rgba(29, 29, 29, 0.973);

}


#services-aditional .card-body h5{
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

#services-aditional .card-body p{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;

}


/*DISEÑO DE SECTION CONTACT*/
#section-contact{
    height: 25%;
    background: black;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 0;
   
}

.contact-information{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-title{
    color: white;
    text-align: center;
    font-family: "BebasNeue";

}


.map-text{
color: white;
text-align: center;
font-family: 'Times New Roman', Times, serif;
}

#section-contact ul li{
    list-style: none;
 }

#section-contact a{
    color: white;
    font-size: 23px;
    text-align: left;
    text-transform: lowercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#section-contact a:hover{
    color: white;
    filter: opacity(50%);
    font-size: 25px;
    text-decoration: none;
    text-transform: lowercase;
}


#section-contact .contact .icon{
    font-size: 40px;
   margin-right: 10px;
}
    
#footer{
   margin-bottom: -20px;
    background: black;
    color: white;
}

#footer p{
    color: #ccc;
text-align: center;
}


