/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 
  
#section-about .about-text{
    font-size: 28px; 
}

}


@media (max-width: 1166px) { 
    
 
 }
 @media (max-width: 1100px) { 
    
 }



 /* Large devices (desktops, 992px and up)*/
@media (max-width: 990px) { 
  #section-home h2{
    font-size: 28px;
   }
   
   #section-home h3{
      font-size: 26px;
   }

   #section-about .about-text{
    font-size: 26px; 
}

#section-services .cards h5{
  letter-spacing: 0px;
  font-size: 18px;
}

.cards .card-body{
  height: 65px;
}

#services-aditional .card-body h5{
  font-size: 22px;

}

#services-aditional .card-body p{
  font-size: 20px;

}

#section-contact a{
  font-size: 20px;
}

#section-contact a:hover{
  font-size: 22px;  
}
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
  h1{
    font-size: 28px;
      }

      #section-home h2{
        font-size: 26px;
       }
       
       #section-home h3{
          font-size: 24px;
       }

       #section-about .about-text{
        font-size: 24px; 
    }

    #services-aditional .card-body h5{
      font-size: 20px;
    }
    
    #services-aditional .card-body p{
      font-size: 18px;
    }
  
  .contact-information{
    display: block;
    text-align: center;
  }
}

@media (max-width: 622px) { 
  h1{
font-size: 26px;

  }
  #section-home h2{
 font-size: 24px;
}

#section-home h3{
   font-size: 22px;
}
#section-about .about-text{
  font-size: 22px; 
}
.contact-information{
  display: block;

}

}
/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
h1{
  font-size: 24px;
  width: 45%;
}

#section-home h2{
  font-size: 22px;
 }
 
 #section-home h3{
    font-size: 20px;
 }

 #section-about .about-text{
  font-size: 20px; 
}


}

@media (max-width: 470px) { 
  h1{
    font-size: 22px;
    width: 45%;
  }
  #section-home h2{
    font-size: 20px;
   }
   
   #section-home h3{
      font-size: 18px;
   }
   #section-about .about-text{
    font-size: 18px; 
}
}